<section id="project" class="mt-5">
  <div class="project-wrapper d-flex justify-content-center flex-direction-column">
    <div class="search-wrapper rounded-2 d-flex justify-content-between ">
      <div class="search w-100 d-flex justify-content-start">
        <form class="w-100 d-flex  m-0">
          <input class="form-control me-2 bg-white" type="search" placeholder="Search" aria-label="Search">
          <button style="background-color: #78B3CE;" class="btn btn-search text-white mx-auto"
            type="submit">Search</button>
        </form>
        <a class="btn text-white addblog d-flex flex-column justify-content-center" href="/addproject"
          type="submit"><span>Add Blog</span></a>
      </div>
    </div>
    <div class="project-cart">
      <div class="title-project">
        <h1>My Project</h1>
      </div>
      <div id="projects-content" class="cart-wrapper row justify-content-center mt-4">
        {{#each projects}}
        <div style="width: 19rem;" class="card-wrap col-4 my-3 mx-3 shadow p-0">
          <div class="card">
            <img width="100%" height="200px" src="${projects[i].image}" alt="" />
            <div class="card-body">
              <h5 class="card-title">{{this.projectname}}</h5>
              <p style="margin: 0;" class="card-text">durasi : {{this.duration}}</p>
              <p style="margin: 0;" class="card-text my-2">{{this.description}}</p>
              <p style="margin: 15px 10px 15px 0;">{{this.technologies}}</p>
              <div class="icon my-3">
                <img width="30px" src="/img/svg/playstore-svgrepo-com.svg" alt="" />
                <img width="30px" src="/img/svg/android-svgrepo-com.svg" alt="" />
                <img width="30px" src="/img/svg/java-svgrepo-com.svg" alt="" />
              </div>
              <div class="btn-cart">
                <button>Edit</button>
                <button>Delete</button>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        <h3 class="note text-center">"Data Belum Tersedia"</h3>
        {{/each}}
      </div>
    </div>
  </div>
</section>
<script>

  function renderProjects(projects) {
    projects.forEach((project) => {
      const projectCart = `
          <div style="width: 19rem;" class="card-wrap col-4 my-3 mx-3 shadow p-0">
            <a class="text-decoration-none" href="/project/${project.title}">
                <div class="card">
                  <img width="100%" height="200px" src="${project.img}" alt="" />
                  <div class="card-body">
                    <h5 class="card-title">${project.title}</h5>
                    <p style="margin: 0;" class="card-text">durasi : ${project.duration}</p>
                    <p style="margin: 0;" class="card-text my-2">${project.description}</p>
                    <p style="margin: 15px 10px 15px 0;">Tech: ${project.tech_stack}</p>
                    <div class="icon my-3">
                      <img width="30px" src="/img/svg/playstore-svgrepo-com.svg" alt="" />
                      <img width="30px" src="/img/svg/android-svgrepo-com.svg" alt="" />
                      <img width="30px" src="/img/svg/java-svgrepo-com.svg" alt="" />
                    </div>
                    <div class="btn-cart">
                      <button>Edit</button>
                      <button>Delete</button>
                    </div>
                  </div>
                </div>
            </a>
          </div>
        `;
      elementHTML.innerHTML += projectCart;
    })
  }

  async function showAllProjects() {
    const projects = await fetchProjects();
    //elementHTML.innerHTML 

    renderProjects(projects);
  }
  document.addEventListener('DOMContentLoaded', fetchProjects);
  showAllProjects();
</script>