{{!-- {{> preloader}} --}}
{{> navbar}}
<section id="testimony">
  <div class="testimony-wrapper">
    <div class="title text-center">
      <h1 class="my-5">My Testimony</h1>
    </div>
    <div class="rating text-center my-4 d-flex justify-content-center gap-3">
      <a href="/testimonial" type="button" class="btn btn-danger">
        All
      </a>
      <a href="/testimonials/rating/1" type="button" class="btn btn-danger">
        1★
      </a>
      <a href="/testimonials/rating/2" type="button" class="btn btn-danger">
        2★
      </a>
      <a href="/testimonials/rating/3" type="button" class="btn btn-danger">
        3★
      </a>
      <a href="/testimonials/rating/4" type="button" class="btn btn-danger">
        4★
      </a>
      <a href="/testimonials/rating/5" type="button" class="btn btn-danger">
        5★
      </a>
    </div>
    <div class="cart-wrapper">
      <div class="container">
        <div class="row text-center" id="testimonial-container">
          <!-- konten -->
          {{#if isEmpty}}
          <p class="text-danger">{{message}}</p>
          {{/if}}
          {{#each testimonis}}
          <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center align-items-center m-0">
            <div class="card mx-0 my-3 shadow p-3 text-center">
              <div class="w-100 p-0 m-0 d-flex justify-content-center">
                <img src="/img/testimoni/{{this.image}}" class="card-img-top w-100" alt="..." />
              </div>
              <div class="card-body d-flex flex-column justify-content-center align-items-end" style="height: 200px">
                <div style="height: 100px" class="keterangan overflow-hidden">
                  <p class="card-text">
                    {{this.testimoni}}
                  </p>
                </div>
                <p class="fw-bold text-end my-2">{{this.author}}</p>
                <p class="fw-bold text-end my-2">{{this.rating}} ★ </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>